.container {
  width: 70%;
  margin: auto;
  text-align: center;

}
.dice {
    display: inline-block;
    text-align: center;
}


body {
    background-color: #393e46;
}

h1 {
    font-size: 8rem;
    color: #4ecca3;
    margin: 30px;
    text-shadow: 5px 0 #232931;
    font-family: "Lobster", cursive;

}

p {
    color: #4ecca3;
    font-family: "Blaka Hollow";
    font-size: 2rem;
}

img {
  width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}