body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: white;
    display: block;
    width: 30%;
    margin: 40% auto;
    border-radius: 20px;
}

.qr {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
.header1 {
    width: 70%;
    color: hsl(218, 44%, 22%);
    margin: 10px auto;
    font-weight: 700;
}

.bodytext {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    width: 70%;
    margin: 4% auto;
}