body{ 
    background-color: #98BAE7;
}
hr {
    /* border-style: dotted none none; */
    border-style: none;
    border-top-style: dotted;
    border-color: #7267CB;
    border-width: 5px;
    width: 10%;
}
h1 {
    color: #6E3CBC;
    font: 200% calibri
}
h3 {
    color: #6E3CBC;
    font: 140% calibri;
}
